<title>SRM OFFICIAL ALUMINI PAGE</title>
<meta charset="utf-8">
<meta name="active-menu" content="<%= menuId %>">
<link rel="stylesheet" href="stylesheets/style.css">
<link rel="stylesheet" href="stylesheets/slide.css">
<link rel="stylesheet" href="stylesheets/card.css">
<link rel="stylesheet" href="stylesheets/info.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  