<nav>
  <div class="menu-icon"><span class="fa fa-bars"></span></div>
  <div class="logo" onclick="topFunction()"><a href="/"><img src="img/logo.png" alt="logo"></a></div>
  <div class="nav-items">
    <li><a href="about">About</a></li>
    <li><a href="members">Members</a></li>
    <li><a href="events">Events</a></li>
    <li><a href="gallery">Gallery</a></li>
    <li><a href="assist">Assist</a></li>
  </div>
  <div class="search-icon"><span class="fa fa-sign-in"></span></div>
  <div class="cancel-icon"><span class="fa fa-times"></span></div>
  <form>
  <button type="url" style="margin-right:3px"><a href="login"> > Login </a></button>
  <button type="url" ><a href="signup"> + Register </a></button>
  </form>
</nav>